
body {
  background-image: url("https://images.unsplash.com/photo-1491333078588-55b6733c7de6?ixlib=rb-0.3.5&s=74efded57f2a26604fe1ac6c54372f23&auto=format&fit=crop&w=2850&q=80");
}

img {
  height: 200px;
  width: 300px;
  background-color: inherit;
}

h1 {
  color: beige;
}

h2 {
  color: beige;
}

hr {
  border-color: slategray;
}

h4 {
  color: beige;
}

#brand {
  color: beige;
}

#editForm {
  background-color: rgba(0,0,0,0.5);
  border-color: slategray;
  color: beige;
}

#newKegForm {
  background-color: rgba(0,0,0,0.5);
  color: beige;
  border-color: slategray;
}


#price {
  color: yellowgreen;
}

#kegList {
  background-color: rgba(0,0,0,0.5);
}

.jumbotron {
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  font-family: "Brush Script MT";
}
